@font-face {
 font-family: "Satisfy";
 src: url("fonts/Satisfy-Regular.ttf") format("truetype");
        
}

/* CSS Document */
body {
  	margin: 0; 
	padding: 0;
	height: 100%;
	background-color: rgba(49,79,79,0.75) ;

}

/* début du menu  grand ecran*/

	.sidenav {
		background-color: darkslategray; 
		padding: 1px; 
		color: honeydew; 
	}
	#closeBtn{
		 visibility: hidden;
	}
	#menu {
		display: flex; 
		justify-content: space-around; 
		font-size: 1.7em; 
		list-style-type: none;
	}

	#menu li a {
		text-decoration: none;
		color: honeydew;
	}
	nav ul li ul {
	    display: none;
	}
	.sous li {
	    padding-top: 15px;
	}
	nav ul li:hover .sous{
		z-index: 99999;
	    display: list-item;
	    list-style-type: none;
	    position: absolute;
	    background-color: rgb(30, 70, 70, 0.8);
	    padding: 5px;

	}
	nav ul li:hover ul li {
	    float: none;
	} 
	.deconect{
		font-size: 0.5em; 
		position:absolute; 
		top: 3px; 
		right: 15px;
	}
/* fin du menu  */


/* Index */

	#sectionIndex{
		margin: 0;
		padding: 0;
	}

	#imgIndex {
		height: 600px;
		background-image: url("../img/sheeps-ga0b58e5cc_1280.jpg");
		background-size: cover;
		background-position: 0px 100px ;
		background-repeat: no-repeat;

		
	}
	#imgIndex div{
		padding: 2% 2%;
	}
	#imgIndex div h1 {
		margin: 0;
		-webkit-text-stroke: 0.1px green;
		Font-family:  Satisfy, Géorgie, serif;
		color: darkslategray;
		width: 250px;
		padding: 2% 2%;
		font-size: 3em;
		font-weight: 500;
		border: 3px solid black; 
		box-shadow: 1px 1px 5px 5px white;
		background-color: rgb(202, 214, 186,0.3); 
		
	}
	#sectionIndex div h2{
		Font-family:  Satisfy, Géorgie, serif;
		-webkit-text-stroke: 0.05px gainsboro;
		font-weight: 500;
		font-size: 2em;
	}

	#sectionIndex div p{
		Font-family:  Satisfy, Géorgie, serif;
		
		font-weight: 500;
		font-size: 1.4em;
	}

	#imgIndex2{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
#imgIndex2 img{
	width: 40%;
	min-width: 400px;
	margin: 20px;
	border-radius: 20px;
	box-shadow: 10px 5px;
}


/* Fin index */

/* concordance pages  */
	section {

	}

/* fin concordance pages  */

/* publier modifier css */
		.formGeneral{
			padding: 20px 0px;
			font-family: Consolas, monaco, monospace;
			font-weight: bold;
			
		}
		.formGeneral div {
			text-align: center;
			
		}

/* fin publier modifier css */


/* Pages qui affichent les articles */

	.sectionArticles{
		display: flex;
		flex-wrap: wrap;
		justify-content:center;

	}
	.articles {
		border-radius: 20px;
		margin: 20px 30px;
		font-family: Consolas, monaco, monospace;
		background-color: rgb(255, 255, 255,0.5);
		height: 20%px; width: 220px; 
		border: 3px solid black; 
		text-align: center;
		box-shadow: 7px 3px 0px 0px rgb(47, 79, 79,0.90); 
		padding-right: 20px;
		padding-left: 20px;
	}

/* Fin pges qui affichent les articles */


/* Votre espace css */

	#sectionEspace{
		height: 90vh;
		background-image: url("../img/champs.jpg");
		background-size: cover;
		background-position: center;
	}
	#articleEspace{
		display: flex;
		justify-content: space-around;

	}
	.divEspace{
		margin-top: 20px;
		padding: 10px;
		background-color: rgb(202, 214, 186,0.3); 
		border: 3px solid darkslategray;
		text-decoration: none;
		color: black;  
	}
	#animaux{
		background-image: url(../img/paturage.jpg);
		background-position: center;
		background-size: cover;
		height: 90vh;
		margin: none;
	}

	#animaux h2{
		margin-block-start: 0;
	}
	body:has(> #animaux){
		background-image: url(../img/paturage.jpg);
		background-position: center;
		background-size: cover;
		height: 100%;
	}

	#batiment{
		background-image: url(../img/ferme.jpg);
		background-position: center;
		background-size: cover;
		height: 90vh;
		margin: none;

	}

	#batiment h2{
		margin-block-start: 0;
	}

body:has(> #batiment){
		background-image: url(../img/ferme.jpg);
		background-position: center;
		background-size: cover;
		height: 100%;
	}

	#garage{
		background-image: url(../img/garage.jpg);
		background-position: center;
		background-size: cover;
		height: 90vh;
		margin: none;

	}

	#garage h2{
		margin-block-start: 0;
	}

	body:has(> #garage){
		background-image: url(../img/garage.jpg);
		background-position: center;
		background-size: cover;
		height: 100%;
	}



/* Fin votre espace css */


/* formulaire de contact */


#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding: 30px;
    padding-bottom: 10px;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,
    	background-color 0.15s ease-in-out, 
    	border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

/* fin formulaire */




/* RESPONSIVE CSS */

@media screen and (max-width: 1100px){

#imgIndex {
	background-position: 0px 0px ;
	
}
#sectionIndex div h2{
		-webkit-text-stroke: 0px gainsboro;
		font-size: 2.5 em;
	}
#sectionIndex div p{
		font-size: 2em;
	}

	.articles {
	font-size: 1.7em;
}
.divEspace{
	font-size: 1.7em; 
	}


/* Sidenav menu */
.sidenav {
  height: 60%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: darkslategray;
  padding-top: 60px;
  transition: left 0.5s ease;	
  
}
#closeBtn{
	visibility: visible;
}
.deconect{
	
	top: 450px; 
	font-size: 0.5em; 
	right: 15px;
}
#menu {
	display: block;
	list-style-type: none;
  padding: 0;
  margin: 0;

}

/* Sidenav menu links */
.sidenav a {
  
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

/* Active class */
.sidenav.active {
  left: 0px;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  
}
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;

}
nav ul li:hover .sous{
	position: absolute;
	width: 200px;
	left: 100px;
	font-size: 0.7em;

}
.sous li{
	padding: 0px;
	margin: 0;
}
	

}
