<!DOCTYPE html>
<html>
<head >
	<meta charset="utf-8">
<title>Accueil</title>
	<link href="http://localhost/sites/elevage_agneau/views/style2.css" rel="stylesheet" type="text/css">
</head>
	
<body  >

<header style=" margin: 0px; padding: 0px;" >
		<nav style=" background-color: darkslategray; padding: 3px; color: honeydew; " >
            <ul id="menu" style="display: flex; justify-content: space-around; font-size: 1.7em; list-style-type: none;">
                <li ><a href="http://localhost/sites/elevage_agneau/index.php" style=" text-decoration: none; color: honeydew;" >Accueil</a></li>
                <li><a href="http://localhost/sites/elevage_agneau/views/connexion.php" style=" text-decoration: none; color: honeydew;" >Connexion</a></li>
                <li><a href="http://localhost/sites/elevage_agneau/views/inscription.php" style=" text-decoration: none; color: honeydew;" >Inscription</a></li>
                <li><a href="infos.html" style=" text-decoration: none; color: honeydew;" >Infos</a></li>
                
            </ul>
        </nav>
	</header>
	
	
	<h1 align="center" >Informations concernant le site : </h1>
	<p align="center">Créateur : Victor Bauri</p>
	<p align="center">Hébergé chez : </p>

	
</body>
</html>